---
import Navigation from "../components/navigation.astro";
import Footer from "../components/footer.astro";
import "../styles/global.css";
const pageTitle = "Blogs";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitle}</title>
  </head>
  <body>
    <Navigation />

    <h1>My Astro Learning Blog</h1>
    <p>This is where I will post about my journey learning Astro.</p>
    <ul>
      <li><a href="/posts/20250618/">Post 1</a></li>
      <li><a href="/posts/20250617/">Post 2</a></li>
      <li><a href="/posts/20250616/">Post 3</a></li>
    </ul>
    <Footer />
  </body>
</html>
