---
import Navigation from "../components/navigation.astro";
import Footer from "../components/footer.astro";
import Blogpost from "../components/blogpost.astro";
import "../styles/global.css";
const allPosts = Object.values(
  import.meta.glob("./posts/*.md", { eager: true })
);
const pageTitle = "Blogs";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitle}</title>
  </head>
  <body>
    <Navigation />

    <h1>My Astro Learning Blog</h1>
    <p>This is where I will post about my journey learning Astro.</p>
    <ul>
      {
        allPosts.map((post: any) => (
          <Blogpost url={post.url} title={post.frontmatter.title} />
        ))
      }
    </ul>
    <Footer />
  </body>
</html>
